<div class="container py-5">
    <h1 class="mb-4 text-center">Histórico de Productos</h1>
    <table class="table table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Ticket</th>
                <th>Precio</th>
                <th>Fecha</th>
                <th>Añadido por</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                @for (row of ventas; track row.id_ticket) {
                    <tr>
                        <td>{{ row.id_ticket }}</td>
                        <td>{{ row.total_venta }}</td>
                        <td>{{ row.fecha_hora | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{ "User "+row.id_usuario }}</td>
                        <td id="acciones"><button class="btn"><img width="20px" src="assets/imagen/icon-ver.png"></button></td>
                    </tr>
                }
        </tbody>
        <tfoot class="table-light">
            <tr>
                <th>Total</th>
                <th>{{totalVentas}}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <a class="btn btn-secondary" aria-current="page" [routerLink]="['/home']">Volver</a>
</div>