<div class="container py-5">
    <a class="btn btn-secondary" aria-current="page" [routerLink]="['/home']">Volver</a>
    <a class="btn btn-secondary" style="float: right;" aria-current="page" [routerLink]="['/historico']">Ir al Histórico</a><br><br>
    <h1 class="mb-4 text-center">Registrar Movimiento Productos</h1>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <form name="productosForm">
                <!-- Selección de Producto -->
                <div class="mb-3">
                    <label for="producto" class="form-label">Producto</label>
                    <select class="form-select" id="producto">
                        <option selected value="">Elige un producto...</option>
                        @for (producto of productos; track producto.codproducto) {
                            <option value="{{producto.codproducto}}">{{ producto.nombre }} - {{ producto.precio }} €</option>
                        }
                    </select>
                </div>

                <!-- Producto por CB -->
                <div class="mb-3">
                    <label for="productoCB" class="form-label">Producto</label>
                    <input type="text" class="form-control" id="productoCB" [(ngModel)]="productoCB" name="productoCB" placeholder="Escanea el producto" autofocus (keydown.enter)="onCodigoBarrasChange()" />
                </div>
            
            </form><br><br>
        </div>

        <div class="col col-lg-6">
            <table class="table table-info table-striped-columns table-hover">
                <thead>
                    <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ticket) {
                    @for (row of ticket; track row.producto.cod_barras) {
                        <tr>
                        <td>{{ row.cantidad }}</td>
                        <td>{{ row.producto.nombre }}</td>
                        <td>
                            <button class="btn" (click)="editarProducto(row.producto)"><img width="20px" src="assets/imagen/icon-edit.png"></button>
                            <button class="btn" (click)="eliminarProducto(row.producto.codproducto)"><img width="20px" src="assets/imagen/icon-borrar.png"></button>
                        </td>
                        </tr>
                    }
                    }
                    <tr>
                    <td><b>Total:</b></td>
                    <td>{{ sumarTotal() }} $</td>
                    <td>@if(ticket.length>0) {<button class="btn btn-success" (click)="finalizarVenta()">Finalizar</button>}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Mostrar producto seleccionado -->
@if (productoSeleccionado) {
    <div class="modal fade" id="modalProducto" tabindex="-1" aria-labelledby="modalProductoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalProductoLabel">Añadir producto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        @if (productoSeleccionado) {
            <div class="modal-body">
                <p><strong>{{ productoSeleccionado.nombre }}</strong></p>
                <p>Precio: {{ productoSeleccionado.precio }} $</p>
                <label for="cantidadSeleccionada">Cantidad:</label>
                <input type="number" name="cantidadSeleccionada" min="1" [(ngModel)]="cantidadSeleccionada" id="cantidadSeleccionada" class="form-control">
            </div>
        }
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarProducto()" data-bs-dismiss="modal">Añadir al ticket</button>
        </div>
        </div>
    </div>
    </div>
}

@if (productosDuplicados) {
    <div class="modal fade" id="modalProductoMultiple" tabindex="-1" aria-labelledby="modalProductoMultiple" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalProductoMultipleLabel">Selecciona el producto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <table class="table table-info table-striped-columns table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (opcion of productosDuplicados; track opcion.codproducto) {
                        <tr>
                            <td>{{opcion.nombre}}</td>
                            <td>{{opcion.precio}}&nbsp;$</td>
                            <td><button class="btn btn-success" (click)="seleccionarProducto(opcion)">Elegir</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </div>
    </div>
    </div>
}

@if (productoEditar) {
    <div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="modalProductoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalProductoLabel">Editar producto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        @if (productoEditar) {
            <div class="modal-body">
                <p><strong>{{ productoEditar.nombre }}</strong></p>
                <p>Precio: {{ productoEditar.precio }} $</p>
                <label for="cantidadSeleccionada">Cantidad:</label>
                <input type="number" name="cantidadEditar" min="1" [(ngModel)]="cantidadEditar" id="cantidadEditar" class="form-control">
            </div>
        }
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="editarProducto2(productoEditar, cantidadEditar!)" data-bs-dismiss="modal">Confirmar</button>
        </div>
        </div>
    </div>
    </div>
}

@if (productoEliminar) {
    <div class="modal fade" id="modalEliminarProducto" tabindex="-1" aria-labelledby="modalEliminarProductoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalProductoLabel">Eliminar producto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        @if (productoEliminar) {
            <div class="modal-body">
                <h2>¿Desea borrar el producto?</h2>
            </div>
        }
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="eliminarProducto2(productoEliminar)" data-bs-dismiss="modal">Eliminar</button>
        </div>
        </div>
    </div>
    </div>
}